body, h4 {
    font-family: 'Abel', sans-serif;
}


/*BUTTONS*/
input.btn, a.btn {
    background-color: #43D3DF;
    color: white;
    border-radius: 0;
    border: none;
    height: 43px;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    line-height: 31px;
    vertical-align: middle;
}

input.btn:hover, a.btn:hover {
    background-color: #3cb3bf;
    color:white;
}

