<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head('Welcome','landing.css', 'shared.css')">
    <meta charset="UTF-8"/>
    <title>Support</title>
</head>
<body>
<div class="heading container">
    <h1>A R M O R</h1>
    <h2>Contact Us</h2>
    <div class="container text-center">
        <a class="btn btn-primary" th:href="@{/support}"> G O </a>
    </div>
</div>
    <footer th:replace="/fragments/footer :: main-footer"></footer>
</body>
</html>